body{
	font-family: arial;
	margin: 0;
	padding: 0;
}
header{
	display:flex;
	justify-content: center;
	height: 120px;
}

.container{
	display: flex;
	width: 990px;
	justify-content: space-between;

}

.logo{
	
}

.menu{
padding: 10px;
align-items: center;
display: flex;
}

.menu a{
	margin-left: 10px;
	text-decoration: none;
	color: #727272;
}

.menu li,ul{
	display: flex;
	list-style: none;
	align-self: center;
	text-transform: uppercase;
	display: flex;
	font-family: arial;
	padding: 15px;
}

.selected{
	background-color: #39aae1;
	height: 10px;
	width: 50px;
	color: white;
	border-radius: 10px;
}

.banner{
	display: flex;
	justify-content: center;
	background-image: url('../images/img1.jpg');
	background-position: center;
	background-size: cover;
	height:670px;
}
.column{
	flex-direction: column;
}
.banner_option{
	height: 210px;
	display: flex;
}
.banner_headline h1{
	font-size: 50px;
	text-shadow:2px 2px 0px #000000;
	margin: 0px;
	padding: 0px;
}
.banner_headline{
	margin: 0px;
	padding: 0px;
	color: white;
	justify-content: center;
	flex:1;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}
.banner1,
.banner2,
.banner3{
	flex:1;
	color: white;
	padding: 20px;
}
.banner1{
	background-color: #39aae1;
}
.banner2{
	background-color:#0079c7 ;
}
.banner3{
	background-color:#2b4c99 ;
}
.banner1 a{
	border: 1px solid black;
	text-decoration: none;
	color: white;
	font-size: 12px;
	display: flex;
}
.banner2 a{

	border: 1px solid black;
	text-decoration: none;
	color: white;
	font-size: 12px;

	display: flex;
}
.banner3 div{
	font-size: 12px;
	border-bottom: 1px solid grey;

}
.banner-horas{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	padding-bottom: 22px;

}

.banner-dias{
	display: flex;
    justify-content: left;
    position: absolute;
}